/********** Navbar **********/
/***** Menu *****/

#menu {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #4ca246;
    z-index: 30;
}

.show_navbar {
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
    animation-name: show_scroll;
    animation-duration: .6s;
}

#menu #logo {
    border-bottom: 80px solid white;
    border-right: 40px solid transparent;
    width: 28%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#menu ul#navbar {
    width: 68%;
    height: 80px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    float: right;
}

#menu ul#navbar li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 11.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    padding-top: 18px;
    transition: .3s;
}

#menu ul#navbar li:hover a span{
    border-bottom: 2px solid white;
    transition: .4s;
}

#menu ul#navbar li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

#menu ul#navbar li a:hover + .sub-navbar {
    display: block;
}

#menu ul#navbar li .sub-navbar:hover {
    display: block;
}

#menu ul#navbar li a span {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding: 5px 0;
    transition: .4s;
}

#menu ul#navbar li .sub-navbar{
    position: absolute;
    display: none;
    top: 80px;
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -15px;
    animation-name: show;
    animation-duration: .8s;
    transition: .2s;
}

#menu ul#navbar li .sub-navbar .sub-container{
    position: absolute;
    width: 200px;
    height: 25px;
    top: -25px;
}

#menu ul#navbar li .sub-navbar table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#menu ul#navbar li .sub-navbar table tr td a{
    padding: 0;
}

#menu ul#navbar li .sub-navbar table tr td a div{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(120, 120, 120);
    transition: .3s;
    font-size: 14px;
}

#menu ul#navbar li .sub-navbar table tr td a div:hover{
    color: #79a206;
    transition: .3s;
}

/***** Sub-menu *****/

#menu #sub-icon {
    position: absolute;
    top: 26px;
    right: 30px;
    display: none;
    cursor: pointer;
    transition: .3s;
}

#menu #sub-icon i{
    font-size: 30px;
    color: white;
    transition: .3s;
}

#menu #sub-icon:hover i {
    color: rgb(255,102,51);
    transition: .3s;
}

#sub-menu {
    position: fixed;
    top: 0;
    left: -300px;
    /* background-color: #a5926b; */
    background-color: rgb(153, 255, 102);
    width: 300px;
    height: 100%;
    z-index: 40;
    transition: .5s;
    overflow: auto;
}

#sub-menu #sub-menu-container a { 
    color: black;
    font-family: 'quicksand' ,sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
}

#sub-menu #sub-menu-container a div{ 
    padding: 14px 0 14px 35px;
    border-bottom: 1px solid rgba(0,0,0,.09);
    transition: .5s;
    position: relative;
}

#sub-menu #sub-menu-container a div i{ 
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
}

#sub-menu #sub-menu-container a div.sub-active { 
    background-color: rgba(0,0,0,.2);
    color: white;
}

#sub-menu #sub-menu-container a div:hover { 
    background-color: rgba(0,0,0,.09);
    transition: .5s;
}

#sub-menu #sub-menu-container .sub-menu-content {
    width: 100%;
    height: auto;
    display: none;
}

#sub-menu #sub-menu-container .sub-menu-content a div{
    height: auto;
    font-size: 15px;
    background-color: rgba(0,0,0,.1);
    padding: 8px 0 8px 35px;
}

#sub-menu-close{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 35;
    transition: .5s;
    display: none;
}



/********** CONTENT **********/

#main-container {
    width: 100%;
    height: auto;
    background-color: white;
}

#main-container .title {
    padding-top: 70px;
    padding-bottom: 55px;
}

#main-container .title .main-title {
    color: rgb(60, 60, 60);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 8px;
}

#main-container .title .sub-title {
    color: rgb(90, 90, 90);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#main-container .title .line-title {
    width: 55px;
    height: 2px;
    background-color: rgb(60, 60, 60);
    margin: 0 auto;
}

#main-container .container-fluid .row .services {
    width: 100%;
    height: 300px;
    background-color: rgb(250, 250, 250);
    position: relative;
    margin-bottom: 100px;
    box-shadow: 10px 10px 0px 2px rgba(220, 220, 220, 0.6);
}

#main-container .container-fluid .row .services a:hover .sv-img img {
    transform: scale(1.1);
    transition: .5s;
}

#main-container .container-fluid .row .services .sv-img{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    overflow: hidden;
}

#main-container .container-fluid .row .services .sv-img img {
    width: 100%;
    height: auto;
    transition: .5s;
}

#main-container .container-fluid .row .services .sv-title{
    background-color: rgba(76, 162, 70, 0.8);
    position: absolute;
    width: 180px;
    padding: 5px 10px;
    top: 120px;
    right: 135px;
    z-index: 20;
}

#main-container .container-fluid .row .services .sv-title p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 160px;
    height: 42px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    z-index: 20;
    margin: 0 auto;
}

#main-container .container-fluid .row .services .sv-text{
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 35px 15px 15px 15px;
    text-align: justify;
    z-index: 19;
}

#main-container .container-fluid .row .services .sv-text p{
    width: 270px;
    height: 102px;
    overflow: hidden;
    color: rgb(60, 60, 60);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: justify;
    z-index: 19;
}

#main-container .container-fluid .row div .image {
    overflow: hidden;
    width: 100%;
    height: 450px;
}

#main-container .container-fluid .row div .image img{
    width: 100%;
    height: auto;
}

#main-container .container-fluid .row div .title {
    color: #848484;
    text-align: center;
    text-transform: uppercase;
    font-family: 'quicksand' ,sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

#main-container .container-fluid .row div .text {
    color: rgb(30, 30, 30);
    font-size: 16px;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}

#main-container .container-fluid .row div .text span{
    font-weight: bold;
    color: #ed4848;
}

#main-container .menu-images {
    width: 100%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 28px;
}

#main-container .menu-images img {
    width: 100%;
    height: auto;
}

.container .row .choose-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 50px;
}

.container .row .choose-container img{
    width: 150%;
    height: 600px;
    margin-left: -180px;
    z-index: 10;
}

.container .row .choose-container .choose-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.container .row .choose-container .choose-content .choose-text {
    transition: .3s;
    width: 100%;
    height: 100%;
    z-index: 25;
}

.container .row .choose-container .choose-left:hover .choose-content .choose-text {
    transition: .3s;
    background-color: rgba(255,102,51,0.8);
}

.container .row .choose-container .choose-left:hover .choose-content .choose-text .choose-text {
    transition: .3s;
    background-color: transparent;
}

.container .row .choose-container .choose-content .choose-text p.choose-title {
    width: 200px;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    padding-top: 210px;
}

.container .row .choose-container .choose-content .choose-text .choose-line {
    background-color: white;
    width: 50px;
    height: 2px;
    margin: 0 auto;
    margin-top: 55px;
}

.container .row .choose-container .choose-content .choose-text p.choose-word {
    width: 250px;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}

.container .row .choose-container .choose-right-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.container .row .choose-container .choose-right-container img {
    width: 285px;
    height: 300px;
    margin: 0;
    z-index: 10;
}

.container .row .choose-container .choose-right-container:nth-child(even) img {
    margin-left: -17px;
}

.container .row .choose-container .choose-right-container:nth-child(even) img {
    margin-left: -17px;
}

.container .row .choose-container .choose-right-container .choose-right-content {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.container .row .choose-container .choose-right-container .choose-right-content .choose-right-text {
    background-color: rgba(0, 0, 0, 0);
    width: 89%;
    height: 94%;
    position: absolute;
    top: 9px;
    left: 24px;
    z-index: 15;
    transition: .3s;
}

.container .row .choose-container .choose-right-container:nth-child(even) .choose-right-content .choose-right-text {
    left: 9px;
}

.container .row .choose-container .choose-right-container:nth-child(even) .choose-right-content {
    background-color: transparent;
}

.container .row .choose-container .choose-right:hover .choose-right-content .choose-right-text {
    transition: .3s;
    background-color: rgba(255,102,51,0.8);
}

.container .row .choose-container .choose-right:hover .choose-right-content {
    transition: .3s;
    background-color: rgba(0, 0, 0, 0);
}

.container .row .choose-container .choose-right-container .choose-right-content .choose-right-text p.choose-right-title {
    width: 140px;
    margin: 0 auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    padding-top: 90px;
}

.container .row .choose-container .choose-right-container:nth-child(even) .choose-right-content .choose-right-text p.choose-right-title {
    color: white;
}

.container .row .choose-container .choose-right-container:nth-child(even) .choose-right-content .choose-right-text .choose-right-line {
    background-color: white;
}

.container .row .choose-container .choose-right:hover .choose-right-content .choose-right-text p.choose-right-title {
    transition: .3s;
    color: white;
}

.container .row .choose-container .choose-right-container .choose-right-content .choose-right-text .choose-right-line {
    background-color: black;
    width: 50px;
    height: 2px;
    margin: 0 auto;
    margin-top: 15px;
    transition: .3s;
}

.container .row .choose-container .choose-right:hover .choose-right-content .choose-right-text .choose-right-line {
    transition: .3s;
    background-color: white;
}

.container .row .choose-container .choose-right-container .choose-right-content .choose-right-text p.choose-right-word {
    width: 250px;
    margin: 0 auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}

.container .row .choose-container .choose-right-container:nth-child(even) .choose-right-content .choose-right-text p.choose-right-word {
    color: white;
}

.container .row .choose-container .choose-right:hover .choose-right-content .choose-right-text p.choose-right-word {
    transition: .3s;
    color: white;
}

/***** CONTACT *****/

#contact {
    width: 100%;
    height: 288px;
    overflow: hidden;
}

#contact img {
    width: 100%;
    height: auto;
}

/***** NEWS *****/

.container .row .news {
    height: auto;
    padding: 0 20px;
    margin: 20px 0;
}

.container .see-more {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0;
}

.container .see-more a {
    color: rgb(90, 90, 90);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}

.container .see-more a:hover {
    color: #ff6633;
    transition: .3s;
}

.container .row .news .news-all{
    position: relative;
}

.container .row .news .news-img {
    height: 220px;
    padding: 0;
    overflow: hidden;
}

.container .row .news .news-img img{
    width: 100%;
    height: 220px;
}

.container .row .news .news-content {
    background-color: #eaeaea;
    height: 220px;
}

.container .row .news .news-content p.news-date {
    padding: 5px 10px;
    display: inline-block; 
    background-color: #ff6633;
    color: white;
    margin-left: 20px;
    margin-top: 32px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.container .row .news .news-content a.news-title {
    color: rgb(60, 60, 60);
    margin-left: 20px;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 200px;
    max-height: 80px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: .4s;
}

.container .row .news .news-content p.news-text {
    color: rgb(60, 60, 60);
    margin-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    max-height: 38px;
    overflow-y: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container .row .news .news-content a.news-title:hover {
    transition: .3s;
    color: #ff6633;
}

.container .row .news .news-content a.news-viewmore {
    color: #999;
    position: absolute;
    /* margin-left: 20px;
    margin-top: 65px; */
    left: 36px;
    bottom: 30px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: .4s;
}

.container .row .news .news-content a.news-viewmore:hover,
.container .row .news .news-content a.news-viewmore:hover i {
    transition: .4s;
    color: #ff6633;
}

.container .row .news .news-content a.news-viewmore i {
    color: #999;
    margin-right: 5px;
    transition: .4s;
}

.container .row .news .news-color-line {
    width: 0;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff6633;
    transition: .5s;
}

.container .row .news:hover .news-color-line {
    width: 100%;
    transition: .5s;
}



/********** BUY & CONTACT **********/
/***** Function button *****/
#func_btn {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 80px;
    left: 0;
    z-index: 30;
}

#func_btn #buy,
#func_btn #scroll-top {
    position: relative;
    height: auto;
    z-index: 30;
}

#func_btn #buy #buy-container {
    width: auto;
    height: 70px;
}

#func_btn #scroll-top #scroll-container {
    width: 80px;
    height: 80px;
    overflow: auto;
}

#func_btn #buy a .func_icon,
#func_btn #scroll-top a .func_icon {
    background-color: #ed4848;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: .3s;
    float: left;
    position: relative;
    left: 20px;
}

#func_btn #buy a .func_icon i,
#func_btn #scroll-top a .func_icon i {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
}

#func_btn #buy a .buy-content {
    display: inline-block;
    border: 2px solid white;
    background-color: #ed4848;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;;
    width: 0;
    height: 50px;
    box-shadow: none;
    transition: .5s;
}

#func_btn #buy a .buy-content p {
    color: white;
    line-height: 5px;
    position: relative;
    display: none;
    opacity: 0;
}

#func_btn #buy a .buy-content p:nth-child(1) {
    padding-top: 10px;
}

#func_btn #buy a .func_icon:hover + .buy-content,
#func_btn #buy a .buy-content:hover {
    width: auto;
    padding: 0 30px 0 30px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: .5s;
}

#func_btn #buy a .buy-content:hover p {
    display: block;
    opacity: 1;
}

#func_btn #buy a .func_icon:hover + .buy-content p{
    display: block;
    opacity: 1;
}

#func_btn #scroll-top a .func_icon:hover {
    background-color: white;
    border: 2px solid #ed4848;
    transition: .3s;
}

#func_btn #scroll-top a .func_icon:hover i{
    color: #ed4848;
    transition: .3s;
}



/********** FOOTER **********/

#footer {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin-top: 60px;
}

#footer #footer-container {
    background-color: #2c2727;
    width: 100%;
    height: auto;
    padding: 10px 120px 100px 120px;
}

#footer #footer-container #footer-content div {
    margin-top: 30px;
}

#footer #footer-container #footer-content div p{
    color: rgba(255,255,255,.9);
    font-family: 'quicksand' ,sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}

#footer #footer-container #footer-content div ul.footer-news,
#footer #footer-container #footer-content div ul.footer-contact {
    list-style-type: none;
    padding: 0;
}

#footer #footer-container #footer-content div ul.footer-news li,
#footer #footer-container #footer-content div ul.footer-contact li {
    margin-bottom: 10px;
}

#footer #footer-container #footer-content div ul.footer-news li a,
#footer #footer-container #footer-content div ul.footer-contact li a {
    color: #848484;
    font-size: 14px;
    text-transform: uppercase;
    transition: .3s;
}

#footer #footer-container #footer-content div ul.footer-news li a:hover,
#footer #footer-container #footer-content div ul.footer-contact li a:hover {
    color: white;
    transition: .3s;
}

#footer #footer-container #footer-content div ul.footer-contact li a{
    text-transform: none;
}

#footer #footer-container #footer-content div ul.footer-link {
    list-style-type: none;
    padding: 0;
    padding-left: 16px;
}

#footer #footer-container #footer-content div ul.footer-link li::before{
    content: "\2022";
    color: #848484;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

#footer #footer-container #footer-content div ul.footer-link li {
    margin-bottom: 10px;
}

#footer #footer-container #footer-content div ul.footer-link li a {
    color: white;
    text-decoration: none;
    font-family: 'quicksand' ,sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
    text-align: justify;
}

#footer #footer-container #footer-content div ul.footer-link li a:hover {
    color: #4ca246;
    transition: .3s;
}



/********** Product Carousel **********/

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.carousel-control-prev {
    left: 18px;
}

.carousel-control-next {
    right: 19px;
}

.bg-dark {
    width: 60px;
    height: 60px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8) !important;
    top: 85px;
}

.carousel-item .carousel-img {
    overflow: hidden;
    width: 200px;
    height: 230px;
    padding: 0;
}

.carousel-item .carousel-img .carousel-content {
    overflow: hidden;
    width: 90%;
    height: 230px;
    margin: 0 auto;
}

.carousel-item .carousel-img .carousel-content .carousel-title {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 10px 0;
    font-weight: bold;
    color: white;
}

.carousel-item .carousel-img .carousel-content .carousel-text {
    font-size: 13px;
    font-weight: bold;
    color: white;
    max-height: 50px;
    overflow-y: hidden;
}

.carousel-item .carousel-img .carousel-content img {
    transition: .3s;
    height: 230px;
    width: 100%;
}

.carousel-item .carousel-img .carousel-content img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.carousel {
    margin-bottom: 100px;
}






/********** Animation **********/

@keyframes show {
    0%   {opacity: 0; top: 130px;}
    100% {opacity: 1; top: 80px;}
}

@keyframes show_scroll {
    0%   {top: -80px;}
    100% {top: 0;}
}



/********** Responsive **********/
/***** Navbar *****/

@media screen and (max-width: 1223px) {
    #menu #logo {
        width: 22%;
    }

    #menu ul#navbar {
        width: 75%;
    }
}

@media screen and (max-width: 1192px) {
    #menu #logo {
        width: 18%;
    }

    #menu ul#navbar {
        width: 80%;
    }
}

@media screen and (max-width: 1046px) {
    #menu ul#navbar {
        display: none;
    }

    #menu #sub-icon {
        display: block;
    }

    #menu #logo {
        width: 28%;
    }
}

/***** Slideshow *****/

@media screen and (max-width: 1005px) {
    .owl-carousel .owl-item {
        height: 580px;
    }
}

@media screen and (max-width: 990px) {
    #main-container .container .row div .text {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 870px) {
    .owl-carousel .owl-item {
        height: 500px;
    }

    .owl-carousel .owl-item img {
        height: 600px;
    }
}

@media screen and (max-width: 665px) {
    .owl-carousel .owl-item {
        height: 400px;
    }

    .owl-carousel .owl-item img {
        height: 550px;
    }
}

@media screen and (max-width: 584px) {
    .owl-carousel .owl-item img {
        height: 400px;
    }
}

/***** Contact *****/
/***** Product *****/

@media screen and (max-width: 502px) {
    #contact {
        height: auto;
    }

    .carousel-control-prev {
        left: 23px;
    }

    .carousel-control-next {
        right: 23px;
    }
}

/***** Choose *****/

@media screen and (max-width: 992px) {
    .container .row .choose-container {
        margin-bottom: 0;
    }

    .container .row .choose-container:nth-child(2) {
        margin-bottom: 50px;
    }
}

/***** News *****/

@media screen and (max-width: 502px) {
    .container .row .news {
        margin-bottom: 0;
    }
}

/***** Footer *****/

@media screen and (max-width: 766px) {
    #footer-photos #photos {
        height: auto;
    }
}


