/********** Slideshow **********/

.owl-carousel .owl-item {
    height: 400px !important; 
}

.owl-carousel .owl-item img {
    height: auto !important;
}

body {
    background-color: rgb(253, 253, 253);
}

.container .row .news-left,
.container .row .news-right {
    height: auto;
    padding: 0;
    padding-bottom: 20px;
    margin-top: 40px;
}

.container .row .news-left {
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    position: relative;
}

.container .row .news-left .news-left-title {
    background-color: #4ca246;
    padding: 10px 15px;
    position: absolute;
    top: -23px;
    left: -23px;
    box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.2);
}

.container .row .news-left .news-left-title a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.container .row .news-left .news-left-content {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.container .row .news-left .news-left-content ul.list-post,
.container .row .news-left .news-left-content ul.list-news {
    padding: 0;
}

.container .row .news-left .news-left-content ul.list-post li,
.container .row .news-left .news-left-content ul.list-news li {
    list-style-type: none;
    padding: 5px 0 5px 18px;
}

.container .row .news-left .news-left-content ul.list-news li {
    padding-top: 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.container .row .news-left .news-left-content ul.list-news li:last-child {
    border-bottom: none;
}

.container .row .news-left .news-left-content ul.list-post li:hover a,
.container .row .news-left .news-left-content ul.list-post li:hover a i {
    color: #ed4848;
    transition: .3s;
}

.container .row .news-left .news-left-content ul.list-post li i {
    font-size: 10px;
    color: rgb(200, 200, 200);
    padding: 0 6px 0 0;
    transition: .3s;
}

.container .row .news-left .news-left-content ul.list-post li a {
    color: rgb(135, 135, 135);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: .3s;
    line-height: 25px;
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container {
    width: 100%;
    height: auto;
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container .list-news-image {
    width: 100px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid rgb(220, 220, 220);
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container .list-news-image img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container .list-news-content {
    width: 127px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding-left: 6px;
    margin-top: -5px;
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container .list-news-content a {
    color: rgb(90, 90, 90);
    font-size: 15px;
    transition: .3s;
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container .list-news-content a:hover {
    color: #ed4848;
    font-size: 15px;
    transition: .3s;
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container .list-news-content .list-news-date {
    width: auto;
    padding-top: 10px;
}

.container .row .news-left .news-left-content ul.list-news li .list-news-container .list-news-content .list-news-date p {
    background-color: #ff6633;
    padding: 3px 5px;
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    float: left;
}

.container .row .news-right {
    padding: 0 0 0 15px;
}

.container .row .news-right .news-right-container {
    border: 1px solid rgb(220, 220, 220);
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    background-color: white;
}

.container .row .news-left .news-left-content .hotline-title {
    color: rgb(60, 60, 60);
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.container .row .news-left .news-left-content .hotline-logo {
    width: 75%;
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
}

.container .row .news-left .news-left-content .hotline-logo img {
    width: 100%;
    height: auto;
}

.container .row .news-left .news-left-content .hotline-contact {
    text-align: center;
}

.container .row .news-left .news-left-content .hotline-contact a {
    color: rgb(90, 90, 90);
    margin: 0 auto;
    font-size: 15px;
    transition: .3s;
}

.container .row .news-left .news-left-content .hotline-contact a:hover {
    color: #ed4848;
    transition: .3s;
}

.container .row .news-left .news-left-content .hotline-social-media table {
    width: auto;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 10px 0;
}

.container .row .news-left .news-left-content .hotline-social-media table tr td i {
    font-size: 25px;
}

.container .row .news-left .news-left-content .hotline-social-media table tr td i.fb {
    color: rgb(66, 103, 178);
}

.container .row .news-left .news-left-content .hotline-social-media table tr td i.tw {
    color: rgb(0, 172, 238);
}

.container .row .news-left .news-left-content .hotline-social-media table tr td i.ins {
    color: rgb(245,96,64);
}

.container .row .news-left .news-left-content .hotline-support {
    width: 100%;
    height: 100px;
    border-top: 1px solid rgb(220, 220, 220);
    padding-top: 15px;
}

.breadcrumb {
    border-radius: 0;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: white;
}

.breadcrumb a {
    color: rgb(135, 135, 135);
    transition: .3s;
}

.breadcrumb a:hover {
    color: #ed4848;
    transition: .3s;
}

.breadcrumb .navigation-pipe {
    font-size: 12px;
    display: inline-block;
    text-align: right;
    width: 6px;
    color: #666;
    padding: 2px 22px 0 15px;
}

.container .row .news-right .news-right-container .news-right-content {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin-bottom: 40px;
    overflow: hidden;
}

.container .row .news-right .news-right-container .news-right-content p {
    color: rgb(135, 135, 135);
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.container .row .news-right .news-right-container .news-right-content p.news-right-content-title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(60, 60, 60);
    margin-bottom: 30px;
}

.container .row .news-right .news-right-container .contact-footer {
    width: 100%;
    height: auto;
    padding: 12px 14px 15px 14px;
    border-top: 1px solid rgb(220, 220, 220);
}

.container .row .news-right .news-right-container .contact-footer h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(90, 90, 90);
    margin-bottom: 20px;
}

.container .row .news-right .news-right-container .contact-footer p {
    font-family: 'Montserrat', sans-serif;  
    font-size: 15px;
    color: rgb(90, 90, 90);
}



/********** Post List **********/

.container .row .news-right .news-right-container .news-right-content .post-list {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-top: 5px;
    padding-bottom: 35px;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-img {
    height: 180px;
    padding: 0;
    overflow: hidden;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container {
    padding-left: 30px;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container .post-list-title a p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(90, 90, 90);
    transition: .3s;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container .post-list-title a p:hover {
    color: #ed4848;
    transition: .3s;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container .post-list-date {
    background-color: #ff6633;
    padding: 3px 8px;
    color: white;
    font-size: 13px;
    display: inline-block;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container .post-list-content {
    margin-top: 10px;
    max-height: 53px;
    word-wrap: break-word;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container .post-list-content p {
    max-height: 60px;
    overflow-y: hidden;
    font-size: 14px;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container .post-list-button {
    color: rgb(120, 120, 120);
    font-size: 14px;
    padding: 5px 15px;
    background-color: rgb(240, 240, 240);
    display: inline-block;
    position: absolute;
    bottom: 0;
    transition: .3s;
}

.container .row .news-right .news-right-container .news-right-content .post-list .post-list-container .post-list-button:hover {
    color: white;
    background-color: #ed4848;
    transition: .3s;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-top: 5px;
    padding-bottom: 35px;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos{
    height: auto;
    padding: 0;
    margin-bottom: 15px;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos:nth-child(odd) {
    padding-right: 7px;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos:nth-child(even) {
    padding-left: 7px;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos .post-type-list-container {
    border: 3px solid #4ca246;
    height: 120px;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos .post-type-list-container .post-type-list-blur {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos .post-type-list-container .post-type-list-blur .post-type-list-title {
    height: 50%;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos .post-type-list-container .post-type-list-blur .post-type-list-title p{
    text-align: center;
    padding-top: 30px;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos .post-type-list-container .post-type-list-blur .post-type-list-des {
    height: 50%;
}

.container .row .news-right .news-right-container .news-right-content .post-type-list .post-type-list-pos .post-type-list-container .post-type-list-blur .post-type-list-des p {
    text-align: center;
    color: #4ca246;
}




/********** Responsive **********/

@media screen and (max-width: 991px) {
    .container .row .news-left .news-left-content .hotline-logo {
        width: 25%;
    }
}

@media screen and (max-width: 720px) {
    #news-container {
        width: 80%;
    }

    .container .row .news-left .news-left-content .hotline-logo {
        width: 40%;
    }
}

