.title{
    margin: 2% auto auto 2%;
}

.box{
    margin: auto auto auto 5% ;
}

.box .select2-container{
    width: 100% !important;
}

.choose-container{
    display: flex;
}

.select-container{
    width: 100%;
}

.select-container .selection img{
    width: 5%;
    margin-top: -1%;
}

.select2-result-website {
    display: flex;
}

.select2-container img{
    width: 30px;
    padding-right: 10px;
}

.editor-form{
    margin: 7% auto;
}

.button-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container input{
    width: 100px;
    margin: 0 50px 100px 0;
}

.image-loading{
    width: 40px;
    display: none;
}