.configuations_container{
    padding-bottom: 20%;
}

.title{
    margin: 2% auto auto 2%;
}

.box{
    margin: auto auto auto 5% ;
}

.selection img{
    width: 9%;
    margin-top: -1%;
}

.select2-result-website {
    display: flex;
}

.select2-result-website__icon img{
    width: 50px;
}

.select2-result-language {
    display: flex;
}

.select2-result-language__icon img{
    width: 40px;
}

.configuations{
    width: 80%;
    margin: auto auto;
}

.configuations form div input{
    font-size: 14px;
    padding-left: 15px;
}

.configuations form div input::placeholder {
    font-size: 14px;
}

.form-configuations{
    margin-bottom: 20px;
}

.form-configuations label{
    font-size: 15px;
}

.form-control{
    border-radius: 10px;
}

.form-control:focus{
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 55);
    box-shadow: rgb(0 0 55 / 25%) 0px 0px 0px 0.2rem;
}

.form-check{
    padding-left: 0px;
}

.form-check label{
    font-size: 15px;
}

.form-input-image{
    display: none !important;
}

.input-image{
    border: dashed 1px blue;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 10;
}

.form-image-input{
    display: flex;
}   

.input-image-container{
    width: 100px;
    height: 100px;
    margin: 10px 10px;
}

.input-image:hover{
    opacity: 0.3;
}

.input-image-container p{
    text-align: center;
}

.input-image img{
    width: 100px;
    height: 100px;
    display: none;
}

.input-image-container i{
    color: green;
    position: absolute;
    margin-top: 5px;
    margin-left: 80px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

textarea::placeholder{
    font-size: 15px;
}

textarea{
    min-height: 200px !important;
    max-height: 500px;
    font-size: 15px !important;
}

#submit_configuation{
    font-size: 15px;
    width: 10%;
    margin: auto auto;
}

#cancel_configuation{
    background-color: red !important;
    font-size: 15px;
    width: 10%;
    margin-left: 0px;
}

#cancel_configuation:focus{
    border: none !important;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 20px;
    padding: 5px 0px 0px 0px;
}

.switch input{ 
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%; 
}

.form-check .label-form-check{
    
}